*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    /* gap: 10px;   */
    margin-top: 20px;
    justify-content: space-around;
    /* padding: 10px; */
    /* background-color: rgb(231, 225, 225); */
}




.navLeft{
    width: 20%;
    height: 100vh;
    /* background-color: rgb(231, 225, 225); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.navLeft .info{
    width: 100%;
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 10px; */
    /* gap: 20px; */
}


.navLeft .info img{
    width: 100px;
    height: 100px;
}

.info ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    gap: 10px;
    font-size: 20px;
}
.navLeft .info2{
    width: 100%;
    height: 50%;
    background-color: white;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;


    /* gap: 30px; */
}

.content{
    width: 80%;
    height: 100vh;
    /* background-color: rgb(231, 225, 225); */
    display: flex;
    flex-direction: column;
    padding: 0 60px 0 0px;
    gap: 10px;
}
.content img{
    width: 100%;
    height: 600px;

}
.content .content-div1{
    width: 100%;
    height: 80px;
    background-color: rgb(235, 238, 241);
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.content .content-div1 div{
    width: 50%;
    height: 40px;
    font-size: 20px;
    /* padding-top: 15px; */
    display: flex;
    justify-content: start;
    align-items: center;
}

.images{
    display: flex;
    width: 100%;
    height: 400px;
    display: flex;
    gap: 20px;
}
.images div{
    width: 25%;
    height: 100%;
    background-color: rgb(235, 238, 241);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    }
.images div img{
    height: 200px;
    width: 100%;
}

@media (max-width:700px){
    .container{
        flex-direction: column;
        justify-content: star;
        /* align-items: start; */
        

    }
    .container .info{
        flex-direction: row;
    }
    .container .info .list ul{
        flex-direction: row;
    }
    .container .info2{
        display: none;
    }
}

@media (max-width:300px){
    .container{
        flex-direction: column;
        /* align-items: start; */
        justify-content: start;
    }
    .container .navLeft .info2{
        display: none;
    }
}