* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* start header  */
header{
    width: 100%;
    height: 40px;
    background-color: #eee;
    padding: 5px 0 0 30px;
    
    
}
header .logo {
    float: left;
}
header .logo img {
    width: 60px;
    height: 50%;
}
header .head{
    float: left;
    margin-top: 5px;
    
}
li{
    display: inline-block;
    margin-left: 20px;
}
.clear{
    clear: both;
}
/* end header  */
/* start landing */
.landing{
    background-image: url(images/cover.jpg);
    background-size: cover;
    height: 900px;
    position: relative;
    
}
.landing h1{
    color: white;
    text-align: center;
    padding-top: 380px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 180px;
    font-family: Arial, Helvetica, sans-serif;
    /* text-shadow: 0px 150px 0px 0px blue , 100px 150px 0px 0px rgb(38, 194, 59)  ;   */
    text-shadow: -9px 2px 9px  red , 9px 2px 9px rgb(19, 238, 238)  ;
    
}

.parent p{
    text-align: center;
    margin-top: 30px;
    color:rgb(19, 238, 238) ;
    font-size: 60px;
}
.parent input{
    display: block;
    height: 40px;
    width: 600px;
    margin-left: 30%;
    margin-top: 30px;
    border-radius: 20px;
    color:white;
    font-size: 20px;

}
.parent input:last-child{
    background-color: rgb(19, 238, 238);
    font-weight: bold;
}
/* end landing */
/* section1 */
.section1{
    width: 100%;
    height: 700px;
}
.section1 .child {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 40px;
    /* font-weight: 800; */
}
.section1 .child h2{
    writing-mode:sideways-lr;
    margin-left: 50%;
    margin-top: 200px;
}
.section1 .child button{
    width: 180px;
    height: 40px;
    border-radius: 30px;
    border-color: blue;
    background-color: blue;
    color: white;
    font-size: 20px;
    margin-top: 40%;

}

/* end section1 */
/* section2 */
.section2{
    width: 100%;
    height: 800px;
    position: relative;
}
.section2 .background{
    background-image: linear-gradient(rgb(0, 213, 255) ,rgb(53, 58, 65) 90%);
    height: 80%;
    color: white;
    text-align: center;
    padding-top: 80px;
    font-size: 90px;
    display: block;
}
.section2 .items{
    background-color: bisque;
    height:20% ;
}
.section2 .items .item{
    float: left;
    text-align: center ;
    width: 25%;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}
.section2 .item i{
    font-size: 50px;
    margin-bottom: 5px;
}
/* end section2 */
/* section3 */
.section3{
    width: 100%;
    height: 800px;
    position: relative;
}
.section3 h1{
    float: left;
    width: 70%;
    font-size: 80px;
    margin-top: 220px;
    margin-left: 60px;
}
.section3 img{
    width: 300px;
    height: 600px;
    position: absolute;
    top: 100px;
    right: 100px;
    
}
/* end section3 */
/* footer  */
footer{
    height: 81px;
    background-color:rgb(49, 45, 42);
    color: white;
    text-align: center;
    font-size: 20px;
}
footer p{
    height: 40px;
    padding-top: 10px;
}

/* end footer  */